// override bootstrap default theme colors
$theme-colors: (
//   "primary": #d11141,
//   "secondary": #667,
//   "success": #00b159,
//   "info": #00aedb,
//   "warning": #f37735,
//   "danger": #ffc425,
   "custom": #b19cd9,
);

// increase the default spacing
// $spacer:1.25rem;

// adjust the default heading font weight
// $headings-font-weight:500;

// adjust the default font weights
// $font-weight-light:200;
// $font-weight-normal:300;
// $font-weight-bold:500;

// adjust the default font size
// $font-size-base:1.25rem;

// add more spacers
// $spacer: 1rem !default;
// $spacers: (
//     6: ($spacer * 4),
//     7: ($spacer * 5),
//     8: ($spacer * 7.50),
//     9: ($spacer * 10)
//   );

// set the button border radius
// $btn-border-radius:2px;

// change the hyperlink color
// $link-color: #d11141;

// remove underline from hyperlinks
// $link-hover-decoration: none;

// Core bootstrap scss import - this should always be at the bottom of the custom.scss file
@import '../../bootstrap/scss/bootstrap';
